<div class="container">
<h2>Mapa de Habilidades</h2>
    <div class="imgContainer"><img src="/assets/img/html.png" alt="html"></div>
    <div class="imgContainer"><img src="/assets/img/css.png" alt="html"></div>
    <div class="imgContainer"><img src="/assets/img/javascript.png" alt="html"></div>
    <div class="imgContainer"><img src="/assets/img/git.png" alt="html"></div>
    <div class="imgContainer"><img src="/assets/img/github.png" alt="html"></div>
    <div class="imgContainer"><img src="/assets/img/angular.png" alt="html"></div>
    <div class="imgContainer"><img src="/assets/img/photoshop.png" alt="html"></div>
    <div class="imgContainer"><img src="/assets/img/figma.png" alt="html"></div>
</div>