<div class="contenedor">
<form class="formContainer">
    <div class="mb-3" class="inputContainer">
      <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3" class="inputContainer">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="buttonContainer">
    <button type="submit" class="btn btn-primary">Enviar</button>
    </div>  
</form>
</div>