.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
    border:solid var(--bc) 5px;
    background-color: var(--bg);
    margin: 20px;
    width: 250;
    height: 300px;
    text-align: center;
}

.card-link {
    font-size: 16px;
    transition: font-size 0.5s linear;
    text-decoration: none;
}

.card-link:hover{
    font-size: 20px;
}
