<div class="cardContainer">

<div class="card" style="width: 15rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
    </div>
  </div>

  <div class="card" style="width: 15rem;">
    <img src="/assets/img/971.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
    </div>
  </div>

  <div class="card" style="width: 15rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
    </div>
  </div>

</div>