<div class="cardContainer">

<div class="card" style="width: 15rem;">
    <img src="#" class="card-img-top" alt="Imagen demostrativa">
    <div class="card-body">
      <h5 class="card-title">Img del Proyecto</h5>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Link al Proyecto</a>
    </div>
  </div>

  <div class="card" style="width: 15rem;">
    <img src="#" class="card-img-top" alt="Imagen demostrativa">
    <div class="card-body">
      <h5 class="card-title">Img del Proyecto</h5>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Link al Proyecto</a>
    </div>
  </div>

  <div class="card" style="width: 15rem;">
    <img src="#" class="card-img-top" alt="Imagen demostrativa">
    <div class="card-body">
      <h5 class="card-title">Img del Proyecto</h5>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Link al Proyecto</a>
    </div>
  </div>

</div>