.formContainer {
    margin:0px auto;
    max-width: 800px;
    text-align: center;
}

p {
    font-size: 25px;
}

a{
    color: var(--tc);
  }
  
  a:hover{
    color: var(--tc);
  }
  
  a:active{
    color: var(--tc);
  }

.socialContainer{
    margin: 10px;
}

.socialContainer a {
    text-decoration: none;
    margin: 25px;
}
