nav {
    position:sticky;
    top:0px;
    z-index: 1;
    background-color: var(--bg);
}

.navbar-brand, a{
    color: var(--tc);
}

.nav-link:visited{
    color: var(--tc);
}

i{
    color: var(--tc);
}

.navbar-toggler:focus{
    box-shadow: none;
}